{#{% extends 'base.html.twig' %}#}

{#{% block title %}Register{% endblock %}#}

{#{% block body %}#}
{#    {% for flashError in app.flashes('verify_email_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#    {% endfor %}#}

{#    <h1>Register</h1>#}

{#    {{ form_start(registrationForm) }}#}
{#        {{ form_row(registrationForm.login) }}#}
{#        {{ form_row(registrationForm.plainPassword, {#}
{#            label: 'Password'#}
{#        }) }}#}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

{#        <button type="submit" class="btn">Register</button>#}
{#    {{ form_end(registrationForm) }}#}
{#{% endblock %}#}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/login.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Авторизация</title>
</head>

<body>
<div id="login-wrap">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div id="login-layout">
        <span id="login-label">Регистрация</span>
        {{ form_start(registrationForm) }}
            <div class="login-input-group">
{#                <label for="input-login">Логин</label>#}
{#                <input id="input-login" type="text" name="login" autocomplete="username" autofocus>#}
{#                <label class="error-label" id="error-empty-username" for="login-button" style="display: none;">Это поле не может быть пустым</label>#}
                {{ form_row(registrationForm.login, {
                    label: 'Логин'
                }) }}
            </div>

            <div class="login-input-group">
{#                <label for="input-password">Пароль</label>#}
{#                <input id="input-password" type="password" name="password" autocomplete="current-password">#}
{#                <label class="error-label" id="error-empty-pass" for="login-button" style="display: none;">Это поле не может быть пустым</label>#}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Пароль'
                }) }}
            </div>

            <div class="login-input-group">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Согласен с пользовательским соглашением'
                }) }}
                <button id="login-button" type="button">Зарегестрироваться</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>

<script src="/src/register.js"></script>
</body>

</html>
